.carousel-marquee {
  width: 67%;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.marquee-content {
  display: flex;
  width: fit-content; /* Permite que el contenido fluya correctamente */
  animation: marquee 25s linear infinite;
  gap: 30px; /* Espaciado entre iconos */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.tech-item {
  min-width: 100px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.tech-item svg {
  width: 90px;
  height: 90px;
}

.tech-item:hover {
  transform: scale(1.1);
}

.tech-item span {
  margin-top: 5px;
  font-size: 1rem;
}

/* 🌑 Modo Oscuro */
.carousel-marquee.dark {
  background-color: transparent;
}

.tech-item {
  color: #fff;
}

/* 🌞 Modo Claro */
.carousel-marquee.light {
  background-color: transparent;
}

.carousel-marquee.light .tech-item {
  color: #222;
}

/* 📱 Modo Tablet y Celular */
@media (max-width: 768px) {
  .carousel-marquee {
    width: 100%;
  }
  .marquee-content {
    animation: marquee 10s linear infinite;
    gap: 20px; 
  }
  .tech-item {
    min-width: 80px;
  }
  .tech-item svg {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .carousel-marquee {
    width: 100%;
  }
  .marquee-content {
    animation: marquee 25s linear infinite;
    gap: 15px;
  }
  .tech-item {
    min-width: 60px;
  }
  .tech-item svg {
    width: 60px;
    height: 60px;
  }
}
